{% extends 'base.html' %}
{% load static %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
{%  if user.is_authenticated %}
    <div class="userProfile">
        <h5>Username:</h5>
        <div class="row">
            <div class="col-sm">
                <p>{{ user.username }}</p>
            </div>
        </div>

        <h5>Email:</h5>
        <div class="row">
            <div class="col-sm">
                <p>{{ user.email }}</p>
            </div>
        </div>
        <h5>Most Recent Location:</h5>
        <div class="addressInfo">
            <p>Road: </p><h3 class="display-4" id="profileRoad">{{ user.profile.road }}</h3><br>
            <p>Locale: </p><h3 class="display-4" id="profileLocale">{{ user.profile.locale }}</h3><br>
            <p>City: </p><h4 class="display-4" id="profileCity">{{ user.profile.city }}</h4>
            <p>County: </p><h4 class="display-4" id="profileCounty">{{ user.profile.county }}</h4><br>
            <p>Country: </p><h4 class="display-4" id="profileCountry">{{ user.profile.country }}</h4><br>
            <p>Coordinates: {{ user.profile.last_location }}</p>
        </div>
        <h5>Nearest Airport:</h5>
        <div class="addressInfo">
            <p>Name: </p><h3 class="display-4">{{ user.profile.nearest_airport_name }}</h3><br>
            <p>IATA: </p><h4 class="display-4">{{ user.profile.nearest_airport_code }}</h4>
            <p>Country Code: </p><h4 class="display-4">{{ user.profile.nearest_airport_country }}</h4><br>
            <p>Coordinates: {{ user.profile.nearest_airport_location }}</p>
        </div>
    </div>

    <a href="{% url 'password_change' %}">Change password</a>

{% else %}
    <h5>This app is only accessible for registered users</h5>
    <p>If you have an account, please go to the login button in the menu bar.<br>
    If you do not have an account, please click signup to register!</p>
{% endif %}
{% endblock %}
